@import url(https://fonts.googleapis.com/css?family=Exo+2:800italic);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
body {
background: url("../images/andy_index.jpg");
background-size: cover;
background-color: black;
}
h1 {color: #F00B0B; font-family: 'Exo 2', sans-serif; font-size: 80px; font-weight: 800}
h3 {color: #BD7676; font-family: 'Bitter', serif; font-style: italic; font-size: 30px}
p {color: #BD7676; font-family: 'Bitter', serif; font-size: 16px; line-height: 34px}
ul {color: #BD7676; font-family: 'Bitter', serif; font-size: 16px; text-align: center; list-style-position: inside;}

#maindivider {
	width: 50vw;
	float:right;
	text-align: center;
}